.title-products {
  font-weight: lighter;
  text-align: center;
  margin: 10px 0 30px 0;
}
.product-box {
  text-align: center;
  color: black;
  text-decoration: none;
}

a:hover {
  color: var(--color-primary-dark);
  text-decoration: none;
  cursor: default;
}

.product-box img {
  transition: all 0.5s ease;
}

.product-box:hover img {
  transform: scale(1.04);
}

.product-box h3 {
  font-size: 14px;
  font-weight: normal;
  margin: 4px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product-box .offer {
  color: red;
  text-transform: uppercase;
  font-weight: bold;
}

.product-box .offer.hidden {
  visibility: hidden;
}

.product-box strong del {
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 5px;
}

.product-box .price {
  font-size: 18px;
}
#boton {
  border-radius: 12px;
  box-shadow: 0px 2px 2px #666666;
  font-family: Arial;
  color: #000000;
  font-size: 12px;
  padding: 5px;
  text-decoration: none;
  cursor: pointer;
}

/*descripcion de productos en pagina detalle*/

.titulo-producto {
  font-size: 25px;
  text-align: center;
  padding: 5px 10px;
}
.detail {
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 5px;
  text-align: center;
}
.precio {
  color: red;
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 5px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.puntuacion {
  color: gray;
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 5px;
  text-align: center;
  border-color: #000000;
}
#volver {
  text-align: center;
  color: blueviolet;
  cursor: pointer;
  text-decoration: none !important;
}