<h1 class="title-products">Disqueria</h1>

<div class="row">
    <div class="col-xs-12">

        <form>
            <input type="search" class="search-input" name="search"
                placeholder="Buscar un artículo o una referencia..." />
        </form>

        <select class="select-order">
            <option>Precio más bajo</option>
            <option>Precio más alto</option>
        </select>
    </div>
</div>

<div class="row">

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img alt="producto 1" width="100%" src="/img/producto1.webp" />
        <div class="offer hidden">Oferta</div>
        <h3>Cadena Perpetua - Buscando Salidas</h3>
        <strong class="price">$29.98</strong>
        <button id="addButton">Detalle</button>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img alt="producto 2" width="100%" src="img/producto2.jpg" />
        <div class="offer">Oferta</div>
        <h3>Bulldog - Si Yo!</h3>
        <strong class="price"><del>$59.99</del> $35.98</strong>
        <button id="addButton">Detalle</button>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img alt="producto 3" width="100%" src="/img/producto3.webp" />
        <div class="offer hidden">Oferta</div>
        <h3>Eterna Inocencia - Las Palabras y Los Rios</h3>
        <strong class="price">$27.98</strong>
        <button id="addButton">Detalle</button>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img alt="producto 4" width="100%" src="img/producto4.jpg" />
        <div class="offer hidden">Oferta</div>
        <h3>La Renga - Esquivando Charcos</h3>
        <strong class="price">$23.99</strong>
        <button id="addButton">Detalle</button>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img alt="producto 5" width="100%" src="/img/producto5.jpg" />
        <div class="offer hidden">Oferta</div>
        <h3>Queen - Queen II</h3>
        <strong class="price">$41.98</strong>
        <button id="addButton">Detalle</button>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img alt="producto 6" width="100%" src="/img/producto6.jpg" />
        <div class="offer">Oferta</div>
        <h3>Pink Floyd - The Dark Side of the Moon</h3>
        <strong class="price"><del>$69.99</del> $45.49</strong>
        <button id="addButton">Detalle</button>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img alt="producto 7" width="100%" src="img/producto7.jpg" />
        <div class="offer hidden">Oferta</div>
        <h3>Iron Maiden - Killers</h3>
        <strong class="price">$32.48</strong>
        <button id="addButton">Detalle</button>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img alt="producto 8" width="100%" src="img/producto8.jpg" />
        <div class="offer hidden">Oferta</div>
        <h3>Nirvana - In Utero</h3>
        <strong class="price">$45.48</strong>
        <button id="addButton">Detalle</button>
    </a>

    <a href="#" class="col-m-4 col-s-6 product-box">
        <img alt="producto 9" width="100%" src="img/producto9.jpg" />
        <div class="offer">Oferta</div>
        <h3>Ramones - Acid Eaters</h3>
        <strong class="price"><del>$39.99</del> $23.99</strong>
        <button id="addButton">Detalle</button>
    </a>
</div>

<ul class="pagination">
    <li><a href="#" class="active">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li>...</li>
    <li><a href="#">10</a></li>
</ul>